@using ProjeCore.Models
@model List<Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<br />

<h2 style="text-align: center;">Мугалимдердин тизмеси</h2>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Аты</th>
        <th>Фамилясы</th>
        <th>Шаары</th>
        <th>Сабак</th>
        <th>Өчүрүү</th>
        <th>Жаңылоо</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>    
            <td>@x.Birim.BirimAd</td>    
            <td><a href="/Personelim/PersonelSil/@x.PersonelID" class="btn btn-danger">Өчүрүү</a></td>
            <td><a href="/Personelim/PersonelGetir/@x.PersonelID" class="btn btn-success">Өзгөртүү</a></td>
        </tr>
    }
</table>

<a href="/Personelim/YeniPersonel" class="btn btn-primary">Жаңы мугалим кошуу</a>
