@using ProjeCore.Models
@model List<Personel>

@{
    ViewData["Title"] = "BirimDetay";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<br />
<h2>@ViewBag.brm мугалими</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Аты</th>
        <th>Фамилясы</th>
        <th>Шаары</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>    
   
        </tr>
    }
</table>


